:host {
    display: flex;
    flex: 1;
}

.title {
    position: absolute;
    z-index: 2;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    user-select: none;
    font-family: monospace;
    font-size: 12px;
    background: white;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #000;
}