<div class="w-buttons">
    <div class="btn-group" dropdown>
        <button [disabled] id="button-basic" dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
            Point <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Point', 'intersects')">Intersect</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Point', 'disjoint')">Disjoint</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Point', 'contains')">Contain</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperatorDistance('dwithin')">Distance Within</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperatorDistance('beyond')">Distance Beyond</a></li>
        </ul>
    </div>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
            Line <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('LineString', 'intersects')">Intersect</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('LineString', 'disjoint')">Disjoint</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('LineString', 'contains')">Contain</a></li>
        </ul>
    </div>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
            Poly <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Polygon', 'intersects')">Intersect</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Polygon', 'disjoint')">Disjoint</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Polygon', 'contains')">Contain</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="addOperator('Polygon', 'within')">Within</a></li>
        </ul>
    </div>
    <button class="btn btn-warning btn-sm" (click)="clear()">Clear</button>
</div>
