:host {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
}

.w-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    button {
        min-width: 80px;
    }
}

.w-button {
    margin-right: 5px;
}